<a href="https://colab.research.google.com/github/parsaaasadnezhad/machineLearningTut/blob/main/linear_regression_maktab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data_frame = sns.load_dataset("tips")

In [ ]:
data_frame.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
data_frame.shape

(244, 7)

In [ ]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [ ]:
data_frame.sample(2)

     total_bill   tip     sex smoker   day    time  size
68        20.23  2.01    Male     No   Sat  Dinner     2
191       19.81  4.19  Female    Yes  Thur   Lunch     2

In [ ]:
data_frame.groupby("smoker").sum()

        total_bill     tip  size
smoker
Yes        1930.34  279.81   224
No         2897.43  451.77   403

In [ ]:
data_frame_new = data_frame.groupby("day").sum()
data_frame_new.drop(labels="size", inplace=True, axis=1)
data_frame_new["percent"] = data_frame_new["tip"] / data_frame_new["total_bill"] * 100
data_frame_new

KeyError: ignored

In [ ]:
data_frame = sns.load_dataset("tips")

In [ ]:
data_frame.replace({"sex":{"Male":0, "Female":1}, "smoker":{"Yes":1, "No":0}}, inplace=True)
data_frame.head()

   total_bill   tip  sex  smoker  day    time  size
0       16.99  1.01    1       0  Sun  Dinner     2
1       10.34  1.66    0       0  Sun  Dinner     3
2       21.01  3.50    0       0  Sun  Dinner     3
3       23.68  3.31    0       0  Sun  Dinner     2
4       24.59  3.61    1       0  Sun  Dinner     4

In [ ]:
days = pd.get_dummies(data_frame["day"])
data_frame = pd.concat([data_frame, days], axis=1)
data_frame.sample(2)

     total_bill   tip  sex  smoker   day   time  size  Thur  Fri  Sat  Sun
135        8.51  1.25    1       0  Thur  Lunch     2     1    0    0    0
88        24.71  5.85    0       0  Thur  Lunch     2     1    0    0    0

In [ ]:
times = pd.get_dummies(data_frame["time"])
data_frame = pd.concat([data_frame, times], axis=1)
# data_frame.drop(labels=["day", "Lunch", "Dinner"], inplace=True, axis=1)
data_frame.head()

,total_bill,tip,sex,smoker,day,time,size,Thur,Fri,Sat,Sun,Lunch,Dinner
0,16.99,1.01,1,0,Sun,Dinner,2,0,0,0,1,0,1
1,10.34,1.66,0,0,Sun,Dinner,3,0,0,0,1,0,1
2,21.01,3.50,0,0,Sun,Dinner,3,0,0,0,1,0,1
3,23.68,3.31,0,0,Sun,Dinner,2,0,0,0,1,0,1
4,24.59,3.61,1,0,Sun,Dinner,4,0,0,0,1,0,1

In [ ]:
X = data_frame[["sex", "smoker", "size", "Thur", "Fri", "Sat", "Sun", "Lunch", "Dinner"]]
Y = data_frame[["tip"]]

In [ ]:
X

     sex  smoker  size  Thur  Fri  Sat  Sun  Lunch  Dinner
0      1       0     2     0    0    0    1      0       1
1      0       0     3     0    0    0    1      0       1
2      0       0     3     0    0    0    1      0       1
3      0       0     2     0    0    0    1      0       1
4      1       0     4     0    0    0    1      0       1
..   ...     ...   ...   ...  ...  ...  ...    ...     ...
239    0       0     3     0    0    1    0      0       1
240    1       1     2     0    0    1    0      0       1
241    0       1     2     0    0    1    0      0       1
242    0       0     2     0    0    1    0      0       1
243    1       0     2     1    0    0    0      0       1

[244 rows x 9 columns]

In [ ]:
Y

      tip
0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
..    ...
239  5.92
240  2.00
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=26)

In [ ]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [ ]:
predictions = regressor.predict(x_test)

In [ ]:
predictions[0]

array([2.41307932])

In [ ]:
y_test

      tip
135  1.25
111  1.00
124  2.52
227  3.00
125  4.20
..    ...
100  2.50
205  3.23
92   1.00
94   3.25
136  2.00

[61 rows x 1 columns]